<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="margin-top : 50px;">
  
    <form #f="ngForm" (ngSubmit)="Signup(f)" class="form-horizontal" >
  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Signup</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-xs-3">Your Name</label>
            <div class="col-xs-9">
              <input type="text" class="form-control" name="username" ngModel placeholder="NAME">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3">Your Email Address</label>
            <div class="col-xs-9">
              <input type="email" class="form-control" name="email" ngModel placeholder="EMAIL ADDRESS">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3">Create Your Password</label>
            <div class="col-xs-9">
              <input type="password" class="form-control" name="password" ngModel placeholder="PASSWORD">
            </div>
          </div>
          <input type="checkbox" name="terms" id="terms" ngModel> I agree to the <a href="#">Terms and Services</a>
          <button type="submit" class="btn btn-default pull-right" >Signup</button>
        </div>
      </div>
  
    </form>
  
  </div>